<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cotiza Isapre</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <!--Estilos Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <img src="../img/Logos/Logo_isapre.jpg" alt="" width="240">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
        <div class="sidebar-brand-text mx-3">CoitizalaIsapre </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Item de Navegacion-->

      <!--Index-->
      <li class="nav-item active">
        <a class="nav-link" href="../index.html">
          <i class="fas fa-fw fa-server"></i>
          <span>Inicio</span></a>
      </li>

      <!--Servicios-->
      <li class="nav-item active">
        <a class="nav-link" href="Servicios.html">
          <i class="fas fa-fw fa-share"></i>
          <span>Servicios</span></a>
      </li>

      <!--Planes-->
      <li class="nav-item active">
        <a class="nav-link" href="Planes.html">
          <i class="fas fa-fw fa-share"></i>
          <span>Planes</span></a>
      </li>

      <!--Contacto-->
      <li class="nav-item active">
        <a class="nav-link" href="Contacto.html">
          <i class="fas fa-fw fa-at"></i>
          <span>Contacto</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Planes de Salud</h1>
          </div>

          <!--Plan Libre Eleccion-->
          <div class="card">
            <div class="card-header">
              <h4>Plan Libre Elección</h4>
            </div>
            <div class="card-body">
              <p class="card-text">Este tipo de planes siempre estarán enrasados con el tope día de cama en relación a
                los aranceles de la clínica elegida, para mayores informaciones contactese con nosotros completando sus
                datos en nuestra pagina.</p>
              <a href="Contacto.html" class="btn btn-primary">Contacto</a>
            </div>
          </div>
          <br>
          <br>
          <br>

          <!--Plan cerrado-->
          <div class="card">
            <div class="card-header">
              <h4>Plan Cerrado</h4>
            </div>
            <div class="card-body">
              <h5 class="card-title">¿Cómo cubre una Isapre las prestaciones de salud cuando un cotizante tiene
                contratado un plan cerrado?</h5>
              <p class="card-text">La Isapre cubre las prestaciones de salud a través de un determinado prestador o Red
                de Prestadores individualizados en el plan cerrado.<br>
                <br>
                Cada vez que el plan de salud asocie el otorgamiento de un beneficio a un determinado prestador o Red de
                Prestadores, deberá indicarse en dicho plan el nombre del o los prestadores institucionales a través de
                los cuales se otorgarán las prestaciones, sean éstas ambulatorias u hospitalarias. Asimismo, la isapre
                deberá identificar en el plan a los prestadores que subsidiariamente brindarán las atenciones de salud a
                sus beneficiarios, en el evento de configurarse una insuficiencia.<br>
                <br>
                El plan cerrado de salud no podrá contemplar una cobertura inferior al 25% de la prevista en el mismo
                plan para la prestación genérica correspondiente, ni a la cobertura financiera que asegura el Fonasa en
                la modalidad de libre elección a todas las prestaciones contempladas en el arancel, debiendo otorgarse
                la que resulte mayor entre ambas.</p>
              <a href="Contacto.html" class="btn btn-primary">Contacto</a>
            </div>
          </div>
          <br>
          <br>
          <br>
          <!--Plan cerrado-->
          <div class="card">
            <div class="card-header">
              <h4>Plan Preferente</h4>
            </div>
            <div class="card-body">
              <h5 class="card-title">¿Cómo cubre una Isapre las prestaciones de salud cuando un cotizante tiene
                contratado un plan con prestador preferente?</h5>
              <p class="card-text">La Isapre cubre las prestaciones de salud a través de un determinado prestador o Red
                de Prestadores individualizados en el plan con prestador preferente, de igual modo cubre las
                prestaciones de salud bajo la modalidad de libre elección.<br>
                <br>
                Cada vez que el plan de salud asocie el otorgamiento de un beneficio a un determinado prestador o Red de
                Prestadores, deberá indicarse en dicho plan el nombre del o los prestadores institucionales a través de
                los cuales se otorgarán las prestaciones, sean éstas ambulatorias u hospitalarias. Asimismo, la isapre
                deberá identificar en el plan a los prestadores que subsidiariamente brindarán las atenciones de salud a
                sus beneficiarios, en el evento de configurarse una insuficiencia.
              </p>
              <a href="Contacto.html" class="btn btn-primary">Contacto</a>
            </div>
          </div>
          <br>
          <br>
          <br>

          <!--Beneficios-->
          <div class="row">

            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../img/Servicios/Muj.jpg" class="card-img" alt="..." style="width: 195px; height: 200px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Planes Mujer Sola</h5>
                    <p class="card-text">con y sin cobertura maternal, orientados en sus mejores alternativas en los
                      planes de salud de cada Isapre con las clínicas preferentes a elegir . </p>
                      <a href="Contacto.html" class="btn btn-primary">Contacto</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../img/Servicios/Hom.jpg" class="card-img" alt="..." style="width: 190px; height: 200px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Plan Hombre Único</h5>
                    <p class="card-text">con amplia cobertura en cada plan de salud dependiendo de su renta y enfocados
                      en su 7% con las clínicas preferentes a elegir. </p>
                      <a href="Contacto.html" class="btn btn-primary">Contacto</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <!--Farmacias Opticas-->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Plan de Salud Familiar</h5>
              <p class="card-text">direccionado en 2 o mas personas con la alternativa de juntar ambas rentas y tomar un
                Plan compensado con mayor cobertura en su plan de salud y economía en el hogar.</p>
                <a href="Contacto.html" class="btn btn-primary">Contacto</a>
            </div>
            <img src="../img/Servicios/Familia.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>

  <!--Script de Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

</body>

</html>