<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cotiza Isapre</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <!--Estilos Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <img src="../img/Logos/Logo_isapre.jpg" alt="" width="240">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
        <div class="sidebar-brand-text mx-3">CoitizalaIsapre </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Item de Navegacion-->

      <!--Index-->
      <li class="nav-item active">
        <a class="nav-link" href="../index.html">
          <i class="far fa-hospital"></i>
          <span>Inicio</span></a>
      </li>

      <!--Servicios-->
      <li class="nav-item active">
        <a class="nav-link" href="Servicios.html">
          <i class="fas fa-user-md"></i>
          <span>Servicios</span></a>
      </li>

      <!--Planes-->
      <li class="nav-item active">
        <a class="nav-link" href="Planes.html">
          <i class="fas fa-medkit"></i>
          <span>Planes</span></a>
      </li>

      <!--Contacto-->
      <li class="nav-item active">
        <a class="nav-link" href="Contacto.html">
          <i class="fas fa-fw fa-at"></i>
          <span>Contacto</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Nuestros Servicios</h1>
          </div>

          <!--Nuestro Servicio-->
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">CotizalaIsapre</h1>
              <p class="lead">Somos un servicio de análisis y búsqueda de Planes de Salud, para informarle y encontrar
                las alternativas más adecuadas acorde a su grupo familiar, sus ingresos y beneficios acordados.
              </p>
              <p>-Orientar y asesorar en forma gratuita de manera objetiva y veraz al momento de escoger su Isapre.</p>
            </div>
          </div>

          <!--Medicina Preventiva-->
          <div class="container-fluid">
            <div class="row">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/GES.jpg" class="card-img" alt="..." style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Medicina Preventiva</h5>
                      <p class="card-text">Exámenes de medicina Preventiva, una vez al año de forma gratuíta con el
                        objetivo
                        de prevenir cualquier patologia o enfermedad en el futuro de cada uno de nuestros afiliados.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/Autentia.jpg" class="card-img" alt="..."
                      style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">I-Med (Autentia) Sistema Digital </h5>
                      <p class="card-text">Sistema digital, creado para entregar una mayor confiabilidad y transparencia
                        para todos nuestros clientes.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <!--GES-->
          <div class="container-fluid">
            <div class="row">
              <div class="card col-md-12" style="width: 18rem;">
                <img src="../img/Servicios/GES.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5>Ges</h5>
                  <p class="card-text">Son garantías relativas a acceso, calidad, protección financiera y oportunidad con
                    que deben ser otorgadas las prestaciones asociadas a un conjunto priorizado de programas, enfermedades
                    o condiciones de salud que señale el decreto correspondiente. El Fondo Nacional de Salud y las
                    Instituciones de Salud Previsional deberán asegurar obligatoriamente dichas garantías a sus
                    respectivos beneficiarios, pues constituye un beneficio legal. </p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>

          <!--Beneficios-->
          <div class="container-fluid">
            <div class="row ">

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/Costo0.jpg" class="card-img" alt="..."
                      style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bonos Costo Cero</h5>
                      <p class="card-text">Enfocados en los bonos de consulta medica y exámenes de laboratorio en base a
                        la Isapre y el plan contratado.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/Dentistas.jpg" class="card-img" alt="..."
                      style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bonificación Dental</h5>
                      <p class="card-text">Uno de los productos adicionales enfocados con sus respectivas tarifas en
                        cada
                        Isapre. Entre un 70 y 80% de cobertura.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <!--Farmacias Opticas-->
          <div class="container-fluid">
            <div class="row">

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/farmacias.jpg" class="card-img" alt="..."
                      style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Farmacias</h5>
                      <p class="card-text">Producto adicional al plan contratado entre un 50 y 80% de coberturas en
                        relación a la tarifa acordada y sus respectivas farmacias asociadas en la Isapre que
                        corresponda.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../img/Servicios/Opticas.png" class="card-img" alt="..."
                      style="width: 190px; height: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Descuento en Opticas</h5>
                      <p class="card-text">descuentos en convenios asociados a cada Isapre.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>

  <!--Script de Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

</body>

</html>